<?xml version="1.0"?>
<launch>
    <arg name="hardware_connected" default="true" />
    <node pkg="mini_pupper_examples" type="oak_hand_detect.py" name="hand_subscriber" output="screen"/>
    <node pkg="mini_pupper_examples" type="pose_controller.py" name="pose_controller" output="screen"/>

    <group if="$(arg hardware_connected)">
        <include file="$(find mini_pupper_bringup)/launch/bringup.launch" >
            <arg name="lidar_connected"      value="false"/>
        </include>
    
    </group>
</launch>
